:root {
  --bg-color: #0D1117;
  --p-color: #fff;

  --color-0: #2E3948;
  --color-1: #39D353;

  --cols: 52;
  --rows: 80;
  --tile-size: 20px;
  --border-width: 3px;
}

.color-0 {
  background-color: var(--color-0);
}

.color-1 {
  background-color: var(--color-1);
}

* {
  box-sizing: border-box;
}

.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  background-color: var(--bg-color);
  color: var(--p-color);
}

.App-title {
  color: var(--p-color);
}

.formButton {
  margin: 5px;
}

.dateInput {
  background-color: #fff;
  border-radius: 3px;
}

.grid-square {
  width: var(--tile-size);
  height: var(--tile-size);
  border-width: var(--border-width);
  border-style: solid;
  border-radius: 5px;
  border-color: var(--bg-color);
}

.grid-board {
  display: grid;
  grid-template-columns: repeat(var(--cols), var(--tile-size));
  grid-gap: 0;
  justify-content: center;
}